@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    ---font01: Verdana, Geneva, Tahoma, sans-serif;
    ---font02: "Caveat", cursive;
    ---font03: "Pssion One", cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(---font01);
    
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    padding: 30px;
    color: white;
    text-align: center;
}

header h1{
    font-family: var(---font03);
    font-size: 6.4vw;
    font-variant: small-caps;
    margin-bottom: 7px;
}

header a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
section p{
    font-family: var(---font02);
    font-weight: bold;
    font-size: 3.8vw;
    line-height: 1.5;
}

section.normal{
    background-color: white;
    color: black;
    
}
section.imagem{
    background-color:darkgrey;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.473);
    
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size:cover
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size:cover
}
section.imagem > p{
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 7px;
}

footer a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
