@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    
    background-color: blueviolet;
}

header > h1{
    color: white;
    padding: 10px;
    text-align: center;
}
span#burguer{
    text-align: center;
    display: block;
    background-color: rgb(48, 15, 80);
    color: white;
    padding: 5px;
}
span#burguer:hover{
    color: black;
    background-color: rgb(218, 197, 236);
    cursor: pointer;
    
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    background-color: rgb(94, 28, 155);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
}
menu > ul > li > a:hover{
    background-color:rgb(128, 70, 182);
}
main{
    width: 90vw;
    margin: auto;
    background-color: rgb(229, 206, 252);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article h2{
    padding: 10px;
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}