@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    
    background-color: blueviolet;
}

header > h1{
    color: white;
    padding: 10px;
    text-align: center;
}
menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    background-color: rgb(94, 28, 155);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
}
menu > ul > li > a:hover{
    background-color:rgb(128, 70, 182);
}