@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
img{
     padding-left: 0px;
     display: inline;
}
body{
    background-color: #5170ff;
}
main{
    display: inline-block;
    background-color: white;
    margin: 50px 50px 50px 500px;
    padding: 20px;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h1{
    text-align: center;
    padding-bottom: 12px;
    color: #5170ff;
    font-size: 2.5em;
    margin-top: 10px;
}
main p{
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    color: #5170ff;
    margin-bottom: 40px;
}
#cpf h3{
    background-color: #5170ff;
    color: white;
    font-size: 0.9em;;
    font-weight: bold;
    padding: 2px;
    margin-top: -16px;
    margin-left: 10px;
    margin-right: 335px;
    border-radius: 7px;
    text-align: center;
}
#cpf{
    background-color: #d4d4d4;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #5170ff;
}
#senha h3{
    background-color: #5170ff;
    color: white;
    padding: 2px;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: -16px;
    margin-left: 10px;
    margin-right: 309px;
    border-radius: 7px;
    text-align: center;

}
#senha{
    background-color: #d4d4d4;
    padding: 7px;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 58px;
    border-radius: 15px;
    border: 1px solid #5170ff;
}
main a{
    color: #5170ff;
    font-weight: bold;
}
#entrar{
    display: block;
    height: 30px;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    background-color: #5170ff;
    color: white;
    padding: 5px;
    margin: 20px 110px;
}
.cad{
    font-size: 1.1em;
    font-weight: bold;
}
