@charset "UTF-8";

:root{
    --cor1:#1255B8;
    --cor2:#284D85;
    --cor3:#293952;
    --cor4:#242A33;
    --cor5:#2E3033;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #f2f7ff;
   
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor1);
    margin: auto;
    height: 70px;
    display: flex;
}

#perfil{
    margin-top: 13px;
    margin-right: 10px;
    flex:1;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
}
#menu{
    flex: 3;
    height: 30px;
    width: 30px;
}
#logo{
    margin-top: 4px;
    height: 65px;
    width: 150px;
}

nav{
    background-color: #2B4163;
    padding: 7px;
}
nav > a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 8px;
    padding: 5px;
    color: white;
}
nav > a:hover{
    background-color: #659aeb;
    border-radius: 5px;
}
main{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    margin: auto;
    padding: 12px;
    min-width: 300px;
    max-width: 1000px;
}
article{
    padding: 10px;
    flex:3.3
}
main img{
    width: 100%;
}
main h1{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h2{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
aside{
    flex: 1;
    margin-right: 10px;
    margin-left: -10px;
    min-width: 75px;
    max-width: 250px;
}
aside section{
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin: 10px;
    margin-right: -20px;
    background-color: var(--cor2);
}
section a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
    font-size: 0.8em
}
section a:hover{
    text-decoration: underline;
}
section img{
    border-radius: 10px;
    width: 100%;
}
footer{
    padding: 10px;
    background-color: #1255B8;
}
footer p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}