@charset "UTF-8";

:root{
    --cor1:#1255B8;
    --cor2:#2B4163;
    --cor3:#90B812;
    --cor4:#B83300;
    --cor5:#27381C;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #659aeb;
   
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor1);
    margin: auto;
    display: flex;
    height: 70px;
}
#logo{
    margin-top: 11px;
    margin-left: 20px;
    height: 50px;
    width: 90px;
    flex: 3;
}
#perfil{
    margin-right: 15px;
    margin-top: 21px;
    height: 30px;
    width: 30px;
    color: white;
}
header h1{
    margin: auto;
    color: white;
    padding: 10px;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

nav{
    background-color: #2B4163;
    padding: 7px;
}
nav > a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 8px;
    padding: 5px;
    color: white;
}
nav > a:hover{
    background-color: #659aeb;
    border-radius: 5px;
}
main{
    display: flex;
    gap:20px;
    background-color: white;
    margin: auto;
    padding: 12px;
    min-width: 400px;
    max-width: 1000px;
}
article{
    padding: 10px;
    flex: 3.3;
}
main img{
    width: 100%;
}
main h1{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h2{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
aside{
    flex: 1;
}
aside section{
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--cor2);
}
section a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
    font-size: 0.8em
}
section img{
    border-radius: 10px;
    width: 100%;
}
footer{
    background-color: #1255B8;
}